<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<style>
		h1{
			margin: 50px;
		}
		.title{
			text-align: center;
		}
		 form{
		 	margin: 0 auto;
		 	width: 500px;
		 }
		  #btn{
		  	width: 500px;
		  	margin-top: 30px;
		  }
		   #idMsg{
	 	color: purple;
	 }
		 
	</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
<!--클릭시 경고창 리셋-->
let helperInit = function(){
	$('#idHelper').text("");
	$('#pwHelper').text("");
	$('#nameHelper').text("");
	$('#addrHelper').text("");
	$('#phoneHelper').text("");
	$('#emailHelper').text("");
}

<!--document 가 준비되면  클릭 이벤트시 어떤일을 할것인가-->
	$(document).ready(function () {
		$('#btn').click(function () {
		
	  if($('#memberId').val().length<4){
		  helperInit();
		  $('#idHelper').text("ID는 4자이상입니다!");
		  $('#memberId').focus();
	  }else if($('#memberPw').val().length <4){
		  helperInit();
		    $('#pwHelper').text("pw는 4자이상입니다!");
			$('#memberPw').focus();
	  }else if($('#memberPw').val() != $('#memberPw2').val()){
		  helperInit();
		    $('#pwHelper').text("pw가다릅니다 확인하세요!");
			$('#memberPw').focus();
	  }else if($('#memberName').val().length === 0){
		  helperInit();
		    $('#nameHelper').text("이름을 입력하세요!");
			$('#memberName').focus();
	  }else if($('#memberAddr').val().length ===0){
		  helperInit();
		    $('#addrHelper').text("주소를 입력하세요!");
			$('#memberAddr').focus();
	  }else if($('#memberPhone').val().length ===0){
		  helperInit();
		    $('#phoneHelper').text("전화번호를 입력하세요!");
			$('#memberPhone').focus();
	  }else if($('#memberEmail').val().length ===0){
		  helperInit();
		    $('#emailHelper').text("이메일을 입력하세요!");
			$('#memberEmail').focus();
	  }else{ 
		  $('#myform').submit();
	  }
			
	 });
	
	<!--중복확인 폼 클릭시-->
	$('#idbtn').click(function () {
		helperInit();
		if($('#memberIdCheck').val().length<4){
			$('#idHelper').text("아이디를 4글자 이상 입력해주세요");
			$('#memberIdCheck').focus();
		}else{
			$('#idform').submit();
		}
		
	});
  });
</script>
</head>
<body>
<div class="container-fluid">
<div class="title">

	<h1>회원가입</h1>
	<form id="idform" method="post" action="/memberIdCheck" enctype="application/x-www-form-urlencoded">
		<div class="form-group confirm">
			아이디 중복확인:
			<input type="text" name="memberIdCheck" id="memberIdCheck" class="form-control">
			<button id="idbtn" type="button">중복체크</button>
			<span id="idHelper"></span>
			<span th:text="${msg}" id="idMsg"></span>
		</div>			
	</form>
			<!-- application/x-www-form-urlencoded <--글자형태로 전송,,multipart/form-data<--바이트형태로 전송 -->
	<form id="myform" method="post" action="/addMember" enctype= "multipart/form-data">
		<div>
			<input type="file" name="memberPic" id="">
		</div>
		<div>
			<span style="color:red" th:text="${msg1}"></span>
		</div>
		<div class="form-group confirm">
			아이디 :
			<input type="text" th:value="${memberIdCheck}" name="memberId" id="memberId" placeholder="아이디 입력" class="form-control" readonly="readonly">
			<span id="idHelper"></span>
		</div>
		<div class="form-group confirm">
			비밀번호:
			<input type="password" name="memberPw" placeholder="비밀번호 입력" id="memberPw" class="form-control">
			<span id="pwHelper"></span>
		</div>
		<div class="form-group confirm">
			비밀번호확인:
			<input type="password" placeholder="비밀번호 확인" id="memberPw2" class="form-control">
		</div>
		<div class="form-group confirm">
			사용자이름:
			<input type="text" name="memberName" placeholder="사용자 입력" id="memberName" class="form-control">
			<span id="nameHelper"></span>
		</div>
		<div class="form-group confirm">
			주소:
			<input type="text" name="memberAddr" placeholder="사용자 주소" id="memberAddr" class="form-control">
			<span id="addrHelper"></span>
		</div>
		<div class="form-group confirm">
			전화번호:
			<input type="text" name="memberPhone" placeholder="사용자 전화번호" id="memberPhone" class="form-control">
			<span id="phoneHelper"></span>
		</div>
		<div class="form-group confirm">
			이메일:
			<input type="text" name="memberEmail" placeholder="사용자 이메일" id="memberEmail" class="form-control">
			<span id="emailHelper"></span>
		</div>
		<div>
			<button type="button" id="btn">회원가입</button>
		</div>
	</form>

	</div>
	<!--title -->
</div>
<!--container-fluid -->
</body>
</html>