<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		$('#btn').click(function () {
			alert("test");
		});
	});
</script>
</head>
<body>
	<div class="container">
		<h1>2020년 가계부</h1>
		<div>
			<span id="msg" style="color:red" th:text="${msg}"></span>
		</div>
		
		<div th:include="/include/menu::sidemenu"></div> <!--jsp include 시  : jsp:include page="" -->
		<h3 th:text="${day}"></h3>
		<div>
			<a th:href="@{/getCashListByDate(day=${day.plusDays(-1)})}">이전</a>
			<a th:href="@{/getCashListByDate(day=${day.plusDays(1)})}">다음</a>
		</div>
		
		<table class="table">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>카테고리</th>
					<th>수입</th>
					<th>지출</th>
					<th>장소</th>
					<th>메모</th>
					<th>삭제</th>
					<th>수정</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cash, index : ${cashList}">
				<td th:text="${index.index}+1"></td>
				<!-- 카테고리 -->
				<td th:text="${cash.categoryName}"></td>
				
				<!-- thymeleaf if~else : if/unless -->
				<td th:if="${cash.cashFind} =='수입'" th:text="${'+' +cash.cashPrice}"></td>
				<td th:unless="${cash.cashFind} =='수입'"></td>
				<!-- 삼항연산자 :조건? 참값:거짓말 <td th:text="${cash.cashFind}=='지출' ? ${'-' +cash.cashPrice}:''"-->
				<td th:if="${cash.cashFind} == '지출'" th:text="${'-' +cash.cashPrice}"></td>
				<td th:unless="${cash.cashFind} =='지출'"></td>
				
				<td th:text="${cash.cashPlace}"></td>
				<td th:text="${cash.cashMemo}"></td>
				<td><a th:href="@{/removeCash(cashNo=${cash.cashNo})}">삭제</a></td>
				<td><a th:href="@{/modifyCash(cashNo=${cash.cashNo},day=${day})}">수정</a></td>
				
				</tr>
			</tbody>
		</table>
			<!-- <div>(수입+지출)합계 : <span th:text="${cashFindSum}" ></span>원</div> -->
		<div>(수입+지출)합계 : <span th:text="${#numbers.formatInteger(cashFindSum,0,'COMMA')}" ></span>원</div>
		<div><button type="button">입력</button></div>		
	</div>
</body>
</html>