<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	.container-fluid{
			text-align: center;
			
		}
		h1{
			margin-top: 100px;
		}
		
		 a[type="button"]{
			
			font-size:25px;
		 	background: #4374D9;
		 	color: #ffffff;
		 	margin: 30px;
		 	width: 300px;
		 	height: 40px;
		 	margin-bottom: 10px;
		 	border-radius: 20px;
		 } 
		 
		 p{
		 	text-align: center;
		 }
		 
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<h1>가게부</h1>
  	
	<div th:if="${session.loginMember != null}">
		<a type="button" href="/logout">로그아웃</a>
	</div>
	
	<div th:if="${session.loginMember == null}">
		<a type = "button" href="/login">로그인</a>
	</div>
	
	<div><a type="button" href="/addMember">회원가입</a></div>
	
	<div>본 콘텐츠의 저작권은 제공처에 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 법적 책임을 질 수 있습니다.</div>
	<div>Copyright © JWsoft Corp. All Rights Reserved.</div>
	<br>
	<div style="font-size:50px">1.회원가입 </div>
	<div style="font-size:50px">2.로그인 </div>
	<div style="font-size:50px">3.로그아웃 </div>
	<div style="font-size:50px">4.회원정보 수정(이미지포함) </div>
	<div style="font-size:50px">5.일별가계부관리(입력,수정,삭제) </div>
	<div style="font-size:50px">6.월별가계부관리(화면만...) </div>
	<div style="font-size:50px">7.게시판(화면만 살짝...) </div>
	<div style="font-size:50px">8.회원탈퇴 </div>
	<div style="font-size:50px">9.끝 </div>
</div>
<!-- container-fluid -->
</body>
</html>