<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<style>
	h1{
		margin: 80px;
	}
	.title{
		text-align: center;
	}
	 #loginMsg{
	 	color: purple;
	 }
	 
	 form{
	 	margin: 0 auto;
	 	width: 450px;
	 }
	 
	 .btn{
	 	width: 300px;
	 	margin-top: 10px;
	 }
	 
	 span{
	 	text-align: left;
	 }
	 
	 

</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
 let helperInit = function () {
	$("#idHelper").text("");
	$("#pwHelper").text("");
}

	$(document).ready(function () {
		$("#loginbtn").click(function () {
			$("#loginForm").submit();
			//유효성 검사 코드를 구현해보자 return;
			helperInit();
			 if($("#memberId").val().length<4){
				   $("#idHelper").text("아이디가 일치하지 않습니다");
				   $("#memberId").focus();
				   return;   
			 }
			 helperInit();
			 if($("#memberPw").val().length<4){
				 $("#pwHelper").text("비밀번호를 확인해주시기 바랍니다")
				 $("#memberPw").focus();
				 return;
			 } 
			

			$("#loginForm").submit();
		});
	});
</script>  
</head>
<body>
<div class="container">
<div class="title">
	<h1>로그인</h1>
	<form id="loginForm" method="post" action="/login">
		<div class="form-group">
			<input type="text" id="memberId" name="memberId" placeholder="아이디" class="form-control">
			<span id="idHelper"></span>
		</div>
		
		<div class="form-group">
			<input type="password" id="memberPw" name="memberPw" placeholder="비밀번호" class="form-control">
			<span id="pwHelper"></span>
		</div>
		
		<div>
			<span th:text="${msg}" id="loginMsg"></span>
		</div>
		<div>
			<a th:href="@{/findMemberId}">아이디가  기억나지 않아요</a> <!-- 이름, 메일, 전화번호 : 아이디 -->
			<a th:href="@{/findMemberPw}">비밀번호가 기억나지 않아요</a> <!-- 아이디,이메일입력 : 이메일로 관리자가 변경한 비밀번호를 보내주겠다. -->
		</div>
		<div>
			<button type="button" id="loginbtn" class="btn btn-primary">로그인</button>
		</div>
		<div>
		<a th:href="@{/addMember}" class="btn btn-primary">회원가입</a>
		</div>
		
		
		
	</form>
	
	</div>
	<!-- title -->
</div>
 <!--container  -->
</body>
</html>