<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CashMapper">

<!-- 가계부 입력하기 -->
<insert id="insertCash" parameterType="com.gdu.cashbook.vo.Cash">
	INSERT INTO cashbook_cash(
		member_id,
		cash_date,
		cash_find,
		category_name,
		cash_price,
		cash_place,
		cash_memo
	)VALUES(
		#{memberId},
		#{cashDate},
		#{cashFind},
		#{categoryName},
		#{cashPrice},
		#{cashPlace},
		#{cashMemo}
	)
</insert>

<!-- 가게부하나가져오기 -->
<select id="selectCashOne" resultType="com.gdu.cashbook.vo.Cash">
	SELECT
		cash_no cashNo,
		cash_date cashDate,
		cash_find cashFind,
		category_name categoryName,
		cash_price cashPrice,
		cash_place cashPlace,
		cash_memo cashMemo
	FROM cashbook_cash
	WHERE
		cash_no=#{cashNo}	
		

</select>
<!-- 리스트 수정하기 -->
<update id="updateCash" parameterType="com.gdu.cashbook.vo.Cash">
	UPDATE
	cashbook_cash SET
	category_name=#{categoryName},
	cash_find=#{cashFind},
	cash_price=#{cashPrice},
	cash_place=#{cashPlace},
	cash_memo=#{cashMemo},
	cash_date=#{cashDate}
	WHERE 
	cash_no=#{cashNo}
</update>

<!-- 리스트 삭제하기 -->
<delete id="deleteCash" parameterType="com.gdu.cashbook.vo.Cash">
	DELETE FROM
	cashbook_cash
	WHERE
	cash_no =#{cashNo}
</delete>

<!-- 월별 총액가져오기 -->
<select id="selectDayAndPriceList" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.DayAndPrice">
	SELECT DAY(cash_date) as day,
		   SUM(CASE WHEN cash_find='수입' THEN cash_price
		   		WHEN cash_find='지출' THEN -cash_price END) as price
    FROM cashbook_cash
    WHERE member_id =#{memberId}
    AND YEAR(cash_date) = #{year}
    AND MONTH(cash_date) = #{month}
    GROUP BY DAY(cash_date)
</select>

<!-- 리스트가져오기 -->
<select id="selectCashListByDate" parameterType="com.gdu.cashbook.vo.Cash" resultType="com.gdu.cashbook.vo.Cash">
	SELECT
		cash_no cashNo,
		cash_find cashFind,
		category_name categoryName,
		cash_price cashPrice,
		cash_place cashPlace,
		cash_memo cashMemo
	FROM cashbook_cash	
	WHERE member_id = #{memberId}
	AND cash_date =#{cashDate}
	ORDER BY
	cash_no ASC
</select>

<!-- 합계금액 구하기 --> 
<select id="selectCashFindSum" parameterType="com.gdu.cashbook.vo.Cash" resultType="int">
	SELECT
	(SELECT 
	IFNULL(SUM(cash_price),0)
	FROM cashbook_cash
	WHERE 
	member_id=#{memberId} AND
	cash_find='수입' AND
	cash_date=#{cashDate})
	-
	(SELECT
	 IFNULL(SUM(cash_price),0)
	 FROM cashbook_cash
	 WHERE
	 member_id=#{memberId} AND
	 cash_find='지출' AND
	 cash_date=#{cashDate})
	FROM dual
</select>
</mapper>