<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
<!-- 멤버 총 명수 구하기 -->
<select id="getTotalMember" resultType="int">
	SELECT COUNT(*)
	FROM member
</select>

<!-- 멤버 한명 삭제(관리자만가능) -->
<delete id="removeAdmin" parameterType="String">
	DELETE FROM member
	WHERE member_id = #{memberId}
</delete>
<!-- 멤버 리스트 출력하기 -->
<select id="selectMemberListAll" parameterType="Map" resultType="com.gdu.cashbook.vo.Member">
	SELECT member_id memberId,
		   member_name memberName,
		   member_addr memberAddr,
		   member_phone memberPhone,
		   member_email memberEmail,
		   member_pic memberPic
	FROM   member
	WHERE  member_id LIKE CONCAT('%', #{searchWord},'%')
	LIMIT #{beginRow}, #{rowPerPage}	   
</select>

<!-- 이미지 삭제하기 -->
<select id="selectMemberPic" parameterType="String" resultType="String">
	SELECT member_pic
	FROM member
	WHERE member_id = #{memberId}
</select>

<!-- 비밀번호 찾기  순서
	1. 사용자가 입력한 아이디와 이메일이 일치하면 비밀번호를 변경한다(랜덤문자열) updaate
	2. 2번에서 입력한 비밀번호를   메일로전송한다.
-->
	<update id="updateMemberPw" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member SET
			member_pw = PASSWORD(#{memberPw})
		WHERE member_id =#{memberId}
		AND member_email = #{memberEmail}
	</update>


<!-- 아이디찾기 -->
<select id="selectMemberIdByMember" parameterType="com.gdu.cashbook.vo.Member" resultType="String">
	SELECT
		CONCAT(SUBSTRING(member_id, 1,3), '****')
	FROM member
	WHERE member_name = #{memberName}
	AND member_phone = #{memberPhone}
	AND member_email = #{memberEmail}	
</select>


<!-- 회원수정 -->
<update id="updateMember" parameterType="com.gdu.cashbook.vo.Member">
	UPDATE    
		member SET
		member_name=#{memberName},
		member_addr=#{memberAddr},
		member_phone=#{memberPhone},
		member_email=#{memberEmail},
		member_pic=#{memberPic}
	WHERE
		member_id=#{memberId}	
	
</update>

<!-- 회원탈퇴 -->
<delete id="deleteMember" parameterType="com.gdu.cashbook.vo.LoginMember">
	DELETE FROM
		member
	WHERE
		member_id=#{memberId}
	AND
		member_pw=PASSWORD(#{memberPw})	
</delete>

<!-- 회원정보 확인 -->
<select id="selectMemberOne" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.Member">

	SELECT
		member_id memberId, 
		member_name memberName,
		member_addr memberAddr,
		member_phone memberPhone,
		member_email memberEmail,
		member_date memberDate,
		member_pic memberPic
	FROM member
	WHERE member_id=#{memberId}	
</select>

<!-- 회원가입 -->
 <insert id="insertMember" parameterType="com.gdu.cashbook.vo.Member">
 	INSERT INTO member(
 		member_id,
 	    member_pw,
 	    member_name,
 	    member_addr,
 	    member_phone,
 	    member_email,
 	    member_date,
 	    member_pic
 	)VALUES(
 		#{memberId},
 		PASSWORD(#{memberPw}),
 		#{memberName},
 		#{memberAddr},
 		#{memberPhone},
 		#{memberEmail},
 		NOW(),
 		#{memberPic}
 		
 	)
 </insert>
 
 <!-- 로그인 아이디 확인 -->
 <select id="selectLoginMember" parameterType="com.gdu.cashbook.vo.LoginMember" resultType="com.gdu.cashbook.vo.LoginMember">
 	SELECT
 		member_id memberId,
 		member_pw memberPw
 	FROM member
 	WHERE member_id = #{memberId}
 	AND member_pw = PASSWORD(#{memberPw})
 </select>
 
 <!-- 아이디 중복 확인 -->
 <select id="selectMemberId" parameterType="String" resultType="String">
 	SELECT
 	 member_id
    FROM (SELECT member_id FROM member
    	  UNION
    	  SELECT member_id FROM memberid
    	  )t
    WHERE member_id=#{memberIdCheck}
 </select>
 
</mapper>